# Merging CSV files
Code used to merge CSV files

In [ ]:
# Import necessary libraries.
import numpy as np
import pandas as pd
from sklearn import preprocessing
print("Setup Complete")

Setup Complete

In [5]:
# Import the data.

composition_data = pd.read_csv("/content/ATP3-UFS-Composition.csv", index_col=0, parse_dates=['DATETIME'])
input_data_initial = pd.read_csv("/content/ATP3-UFS-SummaryCombinedData.csv", index_col=0, parse_dates=['DateTime'])
instrumentation_data = pd.read_csv("/content/ATP3-UFS-Instrumentation-daily.csv", index_col = 0, parse_dates=['Date'])
weather_data = pd.read_csv("/content/ATP3-UFS-Weather-daily.csv", index_col = 0, parse_dates=['Date'])

In [6]:
#Clean the Data

input_data_cleaned = input_data_initial[input_data_initial['Analytical.Sample.ID'].notna()]
temp1 = composition_data.set_index("Analytical.Sample.ID")
temp2 = input_data_cleaned.set_index("Analytical.Sample.ID")
combined_data_init = temp1.merge(temp2)
pd.DataFrame.drop_duplicates(combined_data_init)
combined_data_temp = combined_data_init.drop(['NH4.mg.L', 'NH4.PCT.RSD', 'crash', 'Comments', 'OD680', 'OD680.PCT.RSD',
                                         'NO3.supplied.g', 'NO3.utilized.g', 'NO3.efficiency..', 'NH4.supplied.g',	'NH4.utilized.g',
                                         'NH4.efficiency..', 'P.supplied.g',	'P.utilized.g',	'P.efficiency..', 'mg.AFDW_mol.PAR.input',
                                         'mg.AFDW_kW.GLE.input'], axis=1).rename(columns={'DATETIME': 'Date'})

In [7]:
#Prepare the Data for Merging

combined_data_temp['Date'] = pd.to_datetime(combined_data_temp['Date'], format='%d%b%Y')
combined_data_temp['SiteID2'] = combined_data_temp['SiteID']
combined_data_temp = combined_data_temp.set_index(['SiteID', 'Date'])
weather_data = weather_data.set_index(['SiteID', 'Date'])
instrumentation_data = instrumentation_data.set_index(['SiteID', 'Date'])

Merge the Data

---


**Use only one of the two lines of code**

In [8]:
# combined_data = combined_data_temp.merge(weather_data)
combined_data = combined_data_temp.merge(instrumentation_data)

In [9]:
#export and test the csv file
combined_data.to_csv("/content/Combined Data.csv")
combined_data.head

<bound method NDFrame.head of        Protein.AF  FAME.Lipids.AF  ...  Sal (g.L) PAR (umol.m2.s)
0           43.86           10.77  ...      32.11           62.10
1           43.07           13.09  ...      27.13          303.42
2           42.08           14.07  ...      27.13          303.42
3           43.40             NaN  ...      36.09             NaN
4           44.66           13.77  ...      31.51             NaN
...           ...             ...  ...        ...             ...
21769       34.27            7.99  ...       0.83             NaN
21770       34.27            7.99  ...       0.80             NaN
21771       34.27            7.99  ...       0.80             NaN
21772       34.27            7.99  ...       0.50             NaN
21773       34.27            7.99  ...       0.40             NaN

[21774 rows x 46 columns]>